<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
	
		<form action="/author/order" method="get">
			<select name="orderby">
				<option value="abc">ABC</option>
				<option value="321">321</option>
			</select>
			<input type="submit" />
		</form>
	
		
	
		<table >
			<tr th:each="author : ${authordtolist.getAuthorListDto()}" >
					
						<td th:text="${author.getName()}"></td>
						<td th:text="${author.getOccurence()}"></td>
						
		</table>
	
	</body>
</html>